modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["cairo", "ffmpeg-full", "fontconfig", "freetype", "geos", "ghostscript", "glib", "gobject-introspection", "gtk3", "harfbuzz", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pango", "pkg-config", "proj", "qhull", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ACAD-DG Server"

[[workflows.workflow]]
name = "ACAD-DG Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34965
externalPort = 3001

[[ports]]
localPort = 36901
externalPort = 3002

[[ports]]
localPort = 41261
externalPort = 3000

[[ports]]
localPort = 45353
externalPort = 3003

[deployment]
deploymentTarget = "autoscale"
run = ["python", "app.py"]
